constants:
  - &AWS
    file_redirect_match: '.*\.s3.us-west-2.amazonaws.com/.*'
  - &MINIO
    file_redirect_match: 'https://cdl.s3.sdsc.edu/.*'
stage: &stage
  url: https://merritt-stage.cdlib.org
  guest_collections:
  - coll: cdl_dashdev
    <<: *AWS
production: &production
  url: https://merritt.cdlib.org
  guest_collections:
  - coll: cdl_uc3
    <<: *AWS

default:
  <<: *stage
  authenticated:
  - user: user1
    password: password1
    collection: collection1
  - user: user2
    password: password2
    collection: collection2
